.container{
    display: flex;
    flex-direction: column;
    width: fit-content;
    border:solid;
    height: 200px;
    padding: 20px;
    position: absolute;
    top: 150px;
    margin: 90px;
    
}