img{
    display: block;
    width: 100%;
    
filter: brightness(50%);

    height: 50%;
}

nav{
    max-width: 100%; width: 90%;
 align-items: center;
 background: linear-gradient(90deg, #E8650F 15%, #E8650F 72%, #fff 100%);
 display: flex;
 justify-content: center;
}
a{
    text-decoration: none;
    
    padding: 15px;
      line-height: 20px;
      margin-left: 30px;
      display: block;
    color: whitesmoke;


}